.promo {
    min-height: 524px;
    background: #073042;
    background-image: url(../../../images/pic__COLOR_landing-logo.svg);
    background-position: center top 82px;
    background-repeat: no-repeat;
        text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.promo__title {
    max-width: 730px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
    margin-bottom: 40px;
      color: #FFF;
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -2px;
}

@media screen and (max-width: 900px) {
    .promo {
      min-height: 784px;
      background-position: center top 224px;
    }
    .promo__title{
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 750px) {
    .promo__title {
        max-width: 470px;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -1.45px;
    }
}

@media screen and (max-width: 470px) {
    .promo {
        min-height: 570px;
        background-size: 77%;
        background-position: center top 142px;
    }

    .promo__title {
        margin-bottom: 40px;
        max-width: 300px;
        font-size: 31px;
        line-height: 39px;
        letter-spacing: -1.24px;
    }
}