.header__nav-burger {
    margin-right: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__nav-burger-button {
    background-image: url('../../../../images/burgerButton.svg');
    background-position: center;
    min-width: 44px;
    min-height: 44px;
    border: none;
    background-color: transparent;
}